/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para pantallas menores a 640px */
@media (max-width: 640px) {
  .sm\:px-user-6 {
    padding-left: 1.5rem/* 24px */;
    padding-right: 1.5rem/* 24px */;
  }
}

/* Ocultar componente en pantallas menores de 768px */
@media (max-width: 768px) {
  .sm\:hidden-user {
    display: none;
  }
}

.tooltip-theme{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity)) !important;
  color: white !important;
}
