/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para pantallas menores a 640px */
@media (max-width: 640px) {
  .sm\:px-user-6 {
    padding-left: 1.5rem/* 24px */;
    padding-right: 1.5rem/* 24px */;
  }
}

.tooltip-theme{
  --tw-bg-opacity: 1 !important;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity)) !important;
  color: white !important;
}


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #9ca3af;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1a56db;
  }
}

:root {
  --animate-duration: 900ms;
  --animate-delay: 0.4s;
}
